<!-- container -->
<div class="container py-6" role="container">
  <div class="columns">
    <div class="column is-two-fifths">
      <h3 class="title is-3">Sign up to {{ title }}</h3>
      <h5 class="subtitle is-5">Start a career with us</h5>

      <form>
        <div class="field">
          <label class="label" for="name">Name</label>
          <div class="control">
            <input
              class="input"
              id="name"
              name="name"
              type="text"
              (change)="handleChange($event)"
              placeholder="e.g Alex Smith"
            />
          </div>
        </div>

        <div class="field">
          <label class="label" for="email">Email</label>
          <div class="control">
            <input
              class="input"
              id="email"
              name="email"
              type="email"
              (change)="handleChange($event)"
              placeholder="e.g. alexsmith@gmail.com"
            />
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-primary mt-4" [disabled]="!email">
              Sign up
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="column">
      <!-- if else with ngIf example -->
      <div *ngIf="show; then ifBlock; else elseBlock">I am the boss here</div>
      <ng-template #ifBlock>I am the if block</ng-template>
      <ng-template #elseBlock>I am the else block</ng-template>

      <!-- If else with ng-template -->
      <ng-template [ngIf]="color === 'green'"
        ><p>I am a green color</p></ng-template
      >
      <ng-template [ngIf]="color === 'red'"
        ><p>I am a red color</p></ng-template
      >
      <ng-template [ngIf]="color === 'blue'"
        ><p>I am a blue color</p></ng-template
      >

      <!-- Switch example -->
      <div [ngSwitch]="color">
        <div *ngSwitchCase="'green'" style="color: green">
          I am the green lantern
        </div>
        <div *ngSwitchCase="'red'" [style.color]="'red'">
          I am the red lantern
        </div>
        <div *ngSwitchCase="'blue'" [ngStyle]="{ color: 'blue' }">
          I am the blue lantern
        </div>
      </div>

      <!-- List items using ngFor loop -->
      <ul>
        <li *ngFor="let food of foods">
          {{ food }}
        </li>
      </ul>

      <form #testForm="ngForm" (ngSubmit)="handleSubmit(testForm.value)">
        <p><input type="text" name="email" ngModel placeholder="Email" /></p>
        <p><input type="text" name="name" ngModel placeholder="Name" /></p>
        <button>Submit</button>
      </form>

      <p>
        <input
          type="email"
          name="email"
          (input)="onChange($event)"
          placeholder="Email"
        />
      </p>
      <form>
        <label>Template-Driven Form</label>
        <p>
          <input
            type="email"
            name="email"
            [(ngModel)]="user.email"
            placeholder="Email"
          />
        </p>
        <p>
          <input
            type="password"
            name="password"
            [(ngModel)]="user.password"
            placeholder="Password"
          />
        </p>
        <button>Submit</button>
      </form>
      <p>{{ user.email }}</p>

      <form [formGroup]="userForm">
        <label>Reactive Form</label>

        <p>
          <input
            type="text"
            name="name"
            formControlName="name"
            placeholder="Name"
          />
        </p>
        <p>
          <input
            type="email"
            name="email"
            formControlName="email"
            placeholder="Email"
          />
        </p>
        <button type="submit" (click)="handleSubmit(userForm.value)">
          Submit
        </button>
      </form>
      <!-- [ngModelOptions]="{standalone: true}" -->

      <p>{{ email }}</p>
    </div>
  </div>
</div>

<!-- Router outlet -->
<router-outlet></router-outlet>
