.example-card {
  max-width: 100%;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 2rem;
  place-items: stretch;
  @media screen and (max-width: 960px) {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.mat-divider {
  margin: 4rem 0;
}

.text-center {
  text-align: center;
}

// utilities
$spacing-extra-small: 0.25rem;
$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;
$spacing-extra-large: 4rem;

$paddings: (
  0,
  $spacing-extra-small,
  $spacing-small,
  $spacing-medium,
  $spacing-large,
  $spacing-extra-large
);

// paddings
@each $padding in $paddings {
  .p-#{index(($paddings), ($padding)) - 1} {
    padding: #{$padding};
  }
  .px-#{index(($paddings), ($padding)) - 1} {
    padding-right: #{$padding};
    padding-left: #{$padding};
  }
  .py-#{index(($paddings), ($padding)) - 1} {
    padding-top: #{$padding};
    padding-bottom: #{$padding};
  }
  .pr-#{index(($paddings), ($padding)) - 1} {
    padding-right: #{$padding};
  }
  .pl-#{index(($paddings), ($padding)) - 1} {
    padding-left: #{$padding};
  }
  .pt-#{index(($paddings), ($padding)) - 1} {
    padding-top: #{$padding};
  }
  .pb-#{index(($paddings), ($padding)) - 1} {
    padding-bottom: #{$padding};
  }
}

// margins
@each $padding in $paddings {
  .m-#{index(($paddings), ($padding)) - 1} {
    margin: #{$padding};
  }
  .mx-#{index(($paddings), ($padding)) - 1} {
    margin-right: #{$padding};
    margin-left: #{$padding};
  }
  .my-#{index(($paddings), ($padding)) - 1} {
    margin-top: #{$padding};
    margin-bottom: #{$padding};
  }
  .mr-#{index(($paddings), ($padding)) - 1} {
    margin-right: #{$padding};
  }
  .ml-#{index(($paddings), ($padding)) - 1} {
    margin-left: #{$padding};
  }
  .mt-#{index(($paddings), ($padding)) - 1} {
    margin-top: #{$padding};
  }
  .mb-#{index(($paddings), ($padding)) - 1} {
    margin-bottom: #{$padding};
  }
}
