<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<!-- <nav class="navbar is-transparent is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="assets/images/lono.png" alt="Freelancers" height="28" />
    </a>
    <div
      class="navbar-burger burger"
      data-target="navbarExampleTransparentExample"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/"> Home </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#"> Docs </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/"> Overview </a>
          <a class="navbar-item" href="/"> Tutorials </a>
          <hr class="navbar-divider" />
          <a class="navbar-item" href="/"> Report </a>
          <a class="navbar-item is-active" href="/"> Policy </a>
        </div>
      </div>
      <a class="navbar-item" href="/projects">Projects </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-light" href="/login">
              <span class="icon">
                <fa-icon [icon]="signInIcon"></fa-icon>
              </span>
              <span> Login </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-primary" href="/register">
              <span class="icon">
                <fa-icon [icon]="signUpIcon"></fa-icon>
              </span>
              <span>Sign up</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav> -->
