@import 'node_modules/bulma/sass/utilities/initial-variables.sass';

$primary: #8A10A8;
$link: $blue;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $grey-darker;
$text: $grey-dark;
